*{  
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
}

.content{
    width: 50%;
    margin: 0 auto;
    padding: 1em 2em;
    background-color: #393e46;
    opacity: 0.9;
    color: #fff;
}
/* 
.content h1{
    font-size: 2rem;
    padding: 1em 0 ;
}
.content p{
    font-size: 1.4rem;
    line-height: 1.4;
} */